@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Buying form</h3>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.BookId" name="BookId" />
        <table>
            <tr>
                <td><p>Input your name </p></td>
                <td><input type="text" name="BuyerName" /> </td>
            </tr>
            <tr>
                <td><p>Input your email :</p></td>
                <td>
                    <input type="text" name="BuyerMail" />
                </td>
            </tr>
            <tr>
                <td><p>Input your mobile form :</p></td>
                <td>
                    <input type="text" name="BuyerPhone" />
                </td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
    </form>
</div>