@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Phone market</h3>
    <table>
        <tr class="header">
            <td><p>Name</p></td>
            <td><p>Producer</p></td>
            <td><p>Price</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Phones)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Producer</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
            </tr>
        }
    </table>
</div>